# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
dist/
.tsbuildinfo
tsconfig.tsbuildinfo
coverage/
playwright-report/
test-results/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
**/.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.node-version
.env
.env.local
.env.*
!.env.example
!.env.sample

# Electron
out/
/release
/config.json
/bootstrap.json
/.adnify
/system_prompts_leaks-main
/void-main
/void
/.claude
/claude-code-main
/config
/release-download
/.kiro
/.kiro
/.kiro
/ui-ux-pro-max-skill-main

# package-lock.json
package-lock.json
/CC-Source
